bbk-docs/Version1_0/anacredit_technische_meldeschema/BBK_ANCRDT_T2M_V1-SDMX.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Provided by Deutsche Bundesbank 2017 - http://www.bundesbank.de/AnaCredit -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:dsd="http://www.sdmx.org/resources/sdmxml/schemas/v2_1/data/structurespecific" xmlns:common="http://www.sdmx.org/resources/sdmxml/schemas/v2_1/common" xmlns:BBKCommonTypes="http://www.bundesbank.de/statistik/bbk/commontypes/v1" xmlns="http://www.bundesbank.de/statistik/anacredit/t2m/v1" xmlns:ns1="http://www.sdmx.org/resources/sdmxml/schemas/v2_1/message" xmlns:bcl="http://www.bundesbank.de/statistik/bbk/codelists/v1" xmlns:ecl="http://www.bundesbank.de/statistik/ecb/codelists/v1" xmlns:ECBCommonTypes="http://www.bundesbank.de/statistik/ecb/commontypes/v1" targetNamespace="http://www.bundesbank.de/statistik/anacredit/t2m/v1" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:import namespace="http://www.sdmx.org/resources/sdmxml/schemas/v2_1/message" schemaLocation="SDMXMessage.xsd"/>
	<xs:import namespace="http://www.sdmx.org/resources/sdmxml/schemas/v2_1/data/structurespecific" schemaLocation="SDMXDataStructureSpecific.xsd"/>
	<xs:import namespace="http://www.sdmx.org/resources/sdmxml/schemas/v2_1/common" schemaLocation="SDMXCommon.xsd"/>
	<xs:import namespace="http://www.bundesbank.de/statistik/ecb/codelists/v1" schemaLocation="ECB_CDLST_V1-SDMX.xsd"/>
	<xs:import namespace="http://www.bundesbank.de/statistik/bbk/codelists/v1" schemaLocation="BBK_CDLST_V1-SDMX.xsd"/>
	<xs:import namespace="http://www.bundesbank.de/statistik/bbk/commontypes/v1" schemaLocation="BBKCommonTypes_V1-SDMX.xsd"/>
	<xs:import namespace="http://www.bundesbank.de/statistik/ecb/commontypes/v1" schemaLocation="ECBCommonTypes_V1-SDMX.xsd"/>
	<!-- Data Structur Definitions (DataSetType) -->
	<xs:complexType name="ObsBBK_ANCRDT_HDR_C">
		<xs:complexContent>
			<xs:restriction base="dsd:ObsType">
				<xs:sequence>
					<xs:element ref="common:Annotations" minOccurs="0"/>
				</xs:sequence>
				<xs:attribute name="RPRTNG_AGNT_CD" type="BBKCommonTypes:BBK_ID_BLZ" use="required"/>
				<xs:attribute name="OBSRVD_AGNT_CD" type="BBKCommonTypes:BBK_ID_BLZ" use="required"/>
				<xs:attribute name="DT_RFRNC" type="BBKCommonTypes:BBK_YYYY_MM" use="required"/>
				<xs:attribute name="SRVY_ID" type="bcl:CL_BBK_SRVY_ID" use="required" fixed="ANCRDT_T2M"/>
				<xs:attribute name="PRT_MSSG" type="BBKCommonTypes:BBK_PRT_MSSG" use="required"/>
				<xs:attribute name="IS_LST_PRT_MSSG" type="xs:boolean" use="required"/>
				<xs:attribute name="type" type="common:IDType" use="prohibited"/>
				<xs:attribute name="REPORTING_YEAR_START_DAY" type="xs:gMonthDay" use="prohibited"/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="BBK_ANCRDT_HDR_C">
		<xs:complexContent>
			<xs:restriction base="dsd:DataSetType">
				<xs:sequence>
					<xs:element ref="common:Annotations" minOccurs="0"/>
					<xs:element name="DataProvider" type="common:DataProviderReferenceType" form="unqualified" minOccurs="0"/>
					<xs:choice minOccurs="1">
						<xs:element name="Obs" type="ObsBBK_ANCRDT_HDR_C" form="unqualified" maxOccurs="1"/>
					</xs:choice>
				</xs:sequence>
				<xs:attribute name="REPORTING_YEAR_START_DAY" type="xs:gMonthDay" use="prohibited"/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ObsBBK_ANCRDT_ENTTY_DFLT_C">
		<xs:complexContent>
			<xs:restriction base="dsd:ObsType">
				<xs:sequence>
					<xs:element ref="common:Annotations" minOccurs="0"/>
				</xs:sequence>
				<xs:attribute name="CP_ID" type="BBKCommonTypes:BBK_CP_ID" use="required"/>
				<xs:attribute name="TYP_CP_ID" type="bcl:CL_BBK_TYP_CP_ID" use="required"/>
				<xs:attribute name="DFLT_STTS" type="bcl:CL_BBK_CRDT_QLTY_DFLT_STTS_ANCRDT_CLLCTN_NA"/>
				<xs:attribute name="DT_DFLT_STTS" type="BBKCommonTypes:BBK_FLL_YYYY_MM_DD_NA"/>
				<xs:attribute name="type" type="common:IDType" use="prohibited"/>
				<xs:attribute name="REPORTING_YEAR_START_DAY" type="xs:gMonthDay" use="prohibited"/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="BBK_ANCRDT_ENTTY_DFLT_C">
		<xs:complexContent>
			<xs:restriction base="dsd:DataSetType">
				<xs:sequence>
					<xs:element ref="common:Annotations" minOccurs="0"/>
					<xs:element name="DataProvider" type="common:DataProviderReferenceType" form="unqualified" minOccurs="0"/>
					<xs:choice minOccurs="1">
						<xs:element name="Obs" type="ObsBBK_ANCRDT_ENTTY_DFLT_C" form="unqualified" maxOccurs="unbounded"/>
					</xs:choice>
				</xs:sequence>
				<xs:attribute name="REPORTING_YEAR_START_DAY" type="xs:gMonthDay" use="prohibited"/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ObsBBK_ANCRDT_ENTTY_RSK_C">
		<xs:complexContent>
			<xs:restriction base="dsd:ObsType">
				<xs:sequence>
					<xs:element ref="common:Annotations" minOccurs="0"/>
				</xs:sequence>
				<xs:attribute name="CP_ID" type="BBKCommonTypes:BBK_CP_ID" use="required"/>
				<xs:attribute name="TYP_CP_ID" type="bcl:CL_BBK_TYP_CP_ID" use="required"/>
				<xs:attribute name="PD" type="BBKCommonTypes:BBK_0TO1_6D_NA"/>
				<xs:attribute name="type" type="common:IDType" use="prohibited"/>
				<xs:attribute name="REPORTING_YEAR_START_DAY" type="xs:gMonthDay" use="prohibited"/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="BBK_ANCRDT_ENTTY_RSK_C">
		<xs:complexContent>
			<xs:restriction base="dsd:DataSetType">
				<xs:sequence>
					<xs:element ref="common:Annotations" minOccurs="0"/>
					<xs:element name="DataProvider" type="common:DataProviderReferenceType" form="unqualified" minOccurs="0"/>
					<xs:choice minOccurs="1">
						<xs:element name="Obs" type="ObsBBK_ANCRDT_ENTTY_RSK_C" form="unqualified" maxOccurs="unbounded"/>
					</xs:choice>
				</xs:sequence>
				<xs:attribute name="REPORTING_YEAR_START_DAY" type="xs:gMonthDay" use="prohibited"/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ObsBBK_ANCRDT_INSTRMNT_PRTCTN_RCVD_C">
		<xs:complexContent>
			<xs:restriction base="dsd:ObsType">
				<xs:sequence>
					<xs:element ref="common:Annotations" minOccurs="0"/>
				</xs:sequence>
				<xs:attribute name="CNTRCT_ID" type="ECBCommonTypes:ECBSDD_RSTRCTD_ID_60" use="required"/>
				<xs:attribute name="INSTRMNT_ID" type="ECBCommonTypes:ECBSDD_RSTRCTD_ID_60" use="required"/>
				<xs:attribute name="PRTCTN_ID" type="ECBCommonTypes:ECBSDD_RSTRCTD_ID_60" use="required"/>
				<xs:attribute name="PRTCTN_ALLCTD_VL" type="BBKCommonTypes:BBK_NN_NGTV_2D_NA"/>
				<xs:attribute name="THRD_PRTY_PRRTY_CLMS" type="BBKCommonTypes:BBK_NN_NGTV_2D_NA"/>
				<xs:attribute name="type" type="common:IDType" use="prohibited"/>
				<xs:attribute name="REPORTING_YEAR_START_DAY" type="xs:gMonthDay" use="prohibited"/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="BBK_ANCRDT_INSTRMNT_PRTCTN_RCVD_C">
		<xs:complexContent>
			<xs:restriction base="dsd:DataSetType">
				<xs:sequence>
					<xs:element ref="common:Annotations" minOccurs="0"/>
					<xs:element name="DataProvider" type="common:DataProviderReferenceType" form="unqualified" minOccurs="0"/>
					<xs:choice minOccurs="1">
						<xs:element name="Obs" type="ObsBBK_ANCRDT_INSTRMNT_PRTCTN_RCVD_C" form="unqualified" maxOccurs="unbounded"/>
					</xs:choice>
				</xs:sequence>
				<xs:attribute name="REPORTING_YEAR_START_DAY" type="xs:gMonthDay" use="prohibited"/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ObsBBK_ANCRDT_PRTCTN_RCVD_C">
		<xs:complexContent>
			<xs:restriction base="dsd:ObsType">
				<xs:sequence>
					<xs:element ref="common:Annotations" minOccurs="0"/>
				</xs:sequence>
				<xs:attribute name="PRTCTN_ID" type="ECBCommonTypes:ECBSDD_RSTRCTD_ID_60" use="required"/>
				<xs:attribute name="TYP_PRTCTN" type="bcl:CL_BBK_TYP_PRTCTN_ANCRDT_CLLCTN_NA"/>
				<xs:attribute name="PRTCTN_VL" type="BBKCommonTypes:BBK_NN_NGTV_2D_NA"/>
				<xs:attribute name="TYP_PRTCTN_VL" type="bcl:CL_BBK_TYP_PRTCTN_VL_ANCRDT_CLLCTN_NA"/>
				<xs:attribute name="PRTCTN_VLTN_APPRCH" type="bcl:CL_BBK_PRTCTN_VLTN_APPRCH_ANCRDT_CLLCTN_NA"/>
				<xs:attribute name="RL_ESTT_CLLTRL_LCTN" type="bcl:CL_BBK_ISO3166_NUTS_DSJNT_NA"/>
				<xs:attribute name="DT_PRTCTN_VL" type="BBKCommonTypes:BBK_FLL_YYYY_MM_DD_NA"/>
				<xs:attribute name="DT_MTRTY_PRTCTN" type="BBKCommonTypes:BBK_FLL_YYYY_MM_DD_NA"/>
				<xs:attribute name="ORGNL_PRTCTN_VL" type="BBKCommonTypes:BBK_NN_NGTV_2D_NA"/>
				<xs:attribute name="DT_ORGNL_PRTCTN_VL" type="BBKCommonTypes:BBK_FLL_YYYY_MM_DD_NA"/>
				<xs:attribute name="type" type="common:IDType" use="prohibited"/>
				<xs:attribute name="REPORTING_YEAR_START_DAY" type="xs:gMonthDay" use="prohibited"/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="BBK_ANCRDT_PRTCTN_RCVD_C">
		<xs:complexContent>
			<xs:restriction base="dsd:DataSetType">
				<xs:sequence>
					<xs:element ref="common:Annotations" minOccurs="0"/>
					<xs:element name="DataProvider" type="common:DataProviderReferenceType" form="unqualified" minOccurs="0"/>
					<xs:choice minOccurs="1">
						<xs:element name="Obs" type="ObsBBK_ANCRDT_PRTCTN_RCVD_C" form="unqualified" maxOccurs="unbounded"/>
					</xs:choice>
				</xs:sequence>
				<xs:attribute name="REPORTING_YEAR_START_DAY" type="xs:gMonthDay" use="prohibited"/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ObsBBK_ANCRDT_PRTCTN_PRVDR_C">
		<xs:complexContent>
			<xs:restriction base="dsd:ObsType">
				<xs:sequence>
					<xs:element ref="common:Annotations" minOccurs="0"/>
				</xs:sequence>
				<xs:attribute name="PRTCTN_ID" type="ECBCommonTypes:ECBSDD_RSTRCTD_ID_60" use="required"/>
				<xs:attribute name="PRTCTN_PRVDR_CD" type="BBKCommonTypes:BBK_CP_ID_NA" use="required"/>
				<xs:attribute name="PRTCTN_PRVDR_CD_TYP" type="bcl:CL_BBK_TYP_CP_ID_PRTC" use="required"/>
				<xs:attribute name="type" type="common:IDType" use="prohibited"/>
				<xs:attribute name="REPORTING_YEAR_START_DAY" type="xs:gMonthDay" use="prohibited"/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="BBK_ANCRDT_PRTCTN_PRVDR_C">
		<xs:complexContent>
			<xs:restriction base="dsd:DataSetType">
				<xs:sequence>
					<xs:element ref="common:Annotations" minOccurs="0"/>
					<xs:element name="DataProvider" type="common:DataProviderReferenceType" form="unqualified" minOccurs="0"/>
					<xs:choice minOccurs="1">
						<xs:element name="Obs" type="ObsBBK_ANCRDT_PRTCTN_PRVDR_C" form="unqualified" maxOccurs="unbounded"/>
					</xs:choice>
				</xs:sequence>
				<xs:attribute name="REPORTING_YEAR_START_DAY" type="xs:gMonthDay" use="prohibited"/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
