bbk-docs/Prerelease/anacredit_bbk_meldeschema_vorlaeufig/BBK_RIAD_TV2-SDMX.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--- ENTWURF-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:dsd="http://www.sdmx.org/resources/sdmxml/schemas/v2_1/data/structurespecific" xmlns:common="http://www.sdmx.org/resources/sdmxml/schemas/v2_1/common" xmlns:SDDcommonTypes="http://www.escb.eu/rf/sdmx/SDDcommonTypes" xmlns:BBKCommonTypes="http://www.bundesbank.de/statistik/bbk/CommonTypes/tv1" xmlns:bcl="http://www.bundesbank.de/statistik/bbk/codelists/tv2" xmlns="http://www.bundesbank.de/statistik/riad/tv2" xmlns:ns1="http://www.sdmx.org/resources/sdmxml/schemas/v2_1/message" targetNamespace="http://www.bundesbank.de/statistik/riad/tv2" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:import namespace="http://www.sdmx.org/resources/sdmxml/schemas/v2_1/message" schemaLocation="SDMXMessage.xsd"/>
	<xs:import namespace="http://www.sdmx.org/resources/sdmxml/schemas/v2_1/data/structurespecific" schemaLocation="SDMXDataStructureSpecific.xsd"/>
	<xs:import namespace="http://www.sdmx.org/resources/sdmxml/schemas/v2_1/common" schemaLocation="SDMXCommon.xsd"/>
	<xs:import namespace="http://www.escb.eu/rf/sdmx/SDDcommonTypes" schemaLocation="SDDCommonTypes.xsd"/>
	<xs:import namespace="http://www.bundesbank.de/statistik/bbk/CommonTypes/tv1" schemaLocation="BBKCommonTypes_TV1-SDMX.xsd"/>
	<xs:import namespace="http://www.bundesbank.de/statistik/bbk/codelists/tv2" schemaLocation="BBK_CDLST_TV2-SDMX.xsd"/>
	<!-- CodeLists -->
	<!--- ENTWURF-->
	<xs:simpleType name="Test_CL_TYP_NTNL_CD">
		<xs:restriction base="xs:string">
			<xs:enumeration value="TestCode_1">
				<xs:annotation>
					<xs:documentation xml:lang="en"/>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
		<!-- NOCH ERGÄNZEN!!!! -->
	</xs:simpleType>
	<!--- ENTWURF-->
	<xs:simpleType name="Test_CL_CNTRY">
		<xs:restriction base="xs:string">
			<xs:enumeration value="TestCode_1">
				<xs:annotation>
					<xs:documentation xml:lang="en"/>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
		<!-- NOCH ERGÄNZEN!!!! -->
	</xs:simpleType>
	<!--- ENTWURF-->
	<xs:simpleType name="Test_CL_CNTY">
		<xs:restriction base="xs:string">
			<xs:enumeration value="TestCode_1">
				<xs:annotation>
					<xs:documentation xml:lang="en"/>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
		<!-- NOCH ERGÄNZEN!!!! -->
	</xs:simpleType>
	<!--- ENTWURF-->
	<xs:simpleType name="Test_CL_LGL_FRM">
		<xs:restriction base="xs:string">
			<xs:enumeration value="TestCode_1">
				<xs:annotation>
					<xs:documentation xml:lang="en"/>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
		<!-- NOCH ERGÄNZEN!!!! -->
	</xs:simpleType>
	<!--- ENTWURF-->
	<xs:simpleType name="Test_CL_INSTTTNL_SCTR">
		<xs:restriction base="xs:string">
			<xs:enumeration value="TestCode_1">
				<xs:annotation>
					<xs:documentation xml:lang="en"/>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
		<!-- NOCH ERGÄNZEN!!!! -->
	</xs:simpleType>
	<!--- ENTWURF-->
	<xs:simpleType name="Test_CL_ECNMC_ACTVTY">
		<xs:restriction base="xs:string">
			<xs:enumeration value="TestCode_1">
				<xs:annotation>
					<xs:documentation xml:lang="en"/>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
		<!-- NOCH ERGÄNZEN!!!! -->
	</xs:simpleType>
	<!--- ENTWURF-->
	<xs:simpleType name="Test_CL_STTS_OF_LGL_PRCDNG">
		<xs:restriction base="xs:string">
			<xs:enumeration value="TestCode_1">
				<xs:annotation>
					<xs:documentation xml:lang="en"/>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
		<!-- NOCH ERGÄNZEN!!!! -->
	</xs:simpleType>
	<!--- ENTWURF-->
	<xs:simpleType name="Test_CL_ENTRPRS_SZ">
		<xs:restriction base="xs:string">
			<xs:enumeration value="TestCode_1">
				<xs:annotation>
					<xs:documentation xml:lang="en"/>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
		<!-- NOCH ERGÄNZEN!!!! -->
	</xs:simpleType>
	<!--- ENTWURF-->
	<xs:simpleType name="Test_CL_ACCNTNG_STNDRD">
		<xs:restriction base="xs:string">
			<xs:enumeration value="TestCode_0">
				<xs:annotation>
					<xs:documentation xml:lang="en"/>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
		<!-- NOCH ERGÄNZEN!!!! -->
	</xs:simpleType>
	<!-- Data Structur Definitions (DataSetType) -->
	<!--- ENTWURF-->
	<xs:complexType name="ObsBBK_RIAD_HDR_C">
		<xs:complexContent>
			<xs:restriction base="dsd:ObsType">
				<xs:sequence>
					<xs:element ref="common:Annotations" minOccurs="0"/>
				</xs:sequence>
				<xs:attribute name="RPRTNG_AGNT_CD" type="SDDcommonTypes:ECBSDD_RSTRCTD_ID" use="required"/>
				<xs:attribute name="DT_RFRNC" type="BBKCommonTypes:BBK_DT_YYYY_MM" use="required"/>
				<xs:attribute name="SRVY_ID" type="bcl:CL_BBK_ANCRDT_SRVY" use="required" fixed="TestCode_RIAD"/>
				<xs:attribute name="SBMSSN_TYP" type="bcl:CL_BBK_ANCRDT_SBMSSN" use="required"/>
				<xs:attribute name="PRT_MSSG" type="BBKCommonTypes:BBK_STRNG_PRT_FL_INF"/>
				<xs:attribute name="type" type="common:IDType" use="prohibited"/>
				<xs:attribute name="REPORTING_YEAR_START_DAY" type="xs:gMonthDay" use="prohibited"/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<!--- ENTWURF-->
	<xs:complexType name="BBK_RIAD_HDR_C">
		<xs:complexContent>
			<xs:restriction base="dsd:DataSetType">
				<xs:sequence>
					<xs:element ref="common:Annotations" minOccurs="0"/>
					<xs:element name="DataProvider" type="common:DataProviderReferenceType" form="unqualified" minOccurs="0"/>
					<xs:choice minOccurs="1">
						<xs:element name="Obs" type="ObsBBK_RIAD_HDR_C" form="unqualified" maxOccurs="1"/>
					</xs:choice>
				</xs:sequence>
				<xs:attribute name="REPORTING_YEAR_START_DAY" type="xs:gMonthDay" use="prohibited"/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<!--- ENTWURF-->
	<xs:complexType name="ObsBBK_ANCRDT_ENTTY_RFRNC_C">
		<xs:complexContent>
			<xs:restriction base="dsd:ObsType">
				<xs:sequence>
					<xs:element ref="common:Annotations" minOccurs="0"/>
				</xs:sequence>
				<xs:attribute name="TYP_ENTTY_CD" type="bcl:CL_BBK_ANCRDT_TYP_ENTTY_CD" use="required"/>
				<xs:attribute name="ENTITY_CD" type="SDDcommonTypes:ECBSDD_RSTRCTD_ID" use="required"/>
				<xs:attribute name="LEI" type="BBKCommonTypes:BBK_STRNG_20"/>
				<xs:attribute name="TYP_NTNL_CD" type="Test_CL_TYP_NTNL_CD"/>
				<xs:attribute name="OTHR_TYP_NTNL_CD" type="BBKCommonTypes:BBK_STRNG_255"/>
				<xs:attribute name="NTNL_CD" type="SDDcommonTypes:ECBSDD_RSTRCTD_ID"/>
				<xs:attribute name="REG_CD" type="SDDcommonTypes:ECBSDD_RSTRCTD_ID"/>
				<xs:attribute name="REG_LOC" type="BBKCommonTypes:BBK_STRNG_255"/>
				<xs:attribute name="RIAD_CD" type="SDDcommonTypes:ECBSDD_RSTRCTD_ID"/>
				<xs:attribute name="BLZ" type="BBKCommonTypes:BBK_STRNG_20"/>
				<xs:attribute name="TX_CD" type="SDDcommonTypes:ECBSDD_RSTRCTD_ID"/>
				<xs:attribute name="CRDTR_CD" type="BBKCommonTypes:BBK_STRNG_20"/>
				<xs:attribute name="DBTR_CD" type="BBKCommonTypes:BBK_STRNG_20"/>
				<xs:attribute name="ISN_CD" type="BBKCommonTypes:BBK_STRNG_20"/>
				<xs:attribute name="BIC_CD" type="BBKCommonTypes:BBK_STRNG_20"/>
				<xs:attribute name="BAK_CD" type="BBKCommonTypes:BBK_STRNG_20"/>
				<xs:attribute name="FVC_CD" type="BBKCommonTypes:BBK_STRNG_20"/>
				<xs:attribute name="IFS_CD" type="BBKCommonTypes:BBK_STRNG_20"/>
				<xs:attribute name="TYP_HD_OFFC_UNDRTKNG_CD" type="bcl:CL_BBK_ANCRDT_TYP_ENTTY_CD"/>
				<xs:attribute name="HD_OFFC_UNDRTKNG_CD" type="SDDcommonTypes:ECBSDD_RSTRCTD_ID"/>
				<xs:attribute name="TYP_IMMDT_PRNT_UNDRTKNG_CD" type="bcl:CL_BBK_ANCRDT_TYP_ENTTY_CD"/>
				<xs:attribute name="IMMDT_PRNT_UNDRTKNG_CD" type="SDDcommonTypes:ECBSDD_RSTRCTD_ID"/>
				<xs:attribute name="TYP_ULTMT_PRNT_UNDRTKNG_CD" type="bcl:CL_BBK_ANCRDT_TYP_ENTTY_CD"/>
				<xs:attribute name="ULTMT_PRNT_UNDRTKNG_CD" type="SDDcommonTypes:ECBSDD_RSTRCTD_ID"/>
				<xs:attribute name="NM" type="BBKCommonTypes:BBK_STRNG_255"/>
				<xs:attribute name="STRT" type="BBKCommonTypes:BBK_STRNG_255"/>
				<xs:attribute name="CTY" type="BBKCommonTypes:BBK_STRNG_255"/>
				<xs:attribute name="CNTY" type="Test_CL_CNTY"/>
				<xs:attribute name="PSTL_CD" type="BBKCommonTypes:BBK_STRNG_255"/>
				<xs:attribute name="CNTRY" type="Test_CL_CNTRY"/>
				<xs:attribute name="LGL_FRM" type="Test_CL_LGL_FRM"/>
				<xs:attribute name="OTHR_LGL_FRM" type="BBKCommonTypes:BBK_STRNG_255"/>
				<xs:attribute name="INSTTTNL_SCTR" type="Test_CL_INSTTTNL_SCTR"/>
				<xs:attribute name="ECNMC_ACTVTY" type="Test_CL_ECNMC_ACTVTY"/>
				<xs:attribute name="STTS_OF_LGL_PRCDNGS" type="Test_CL_STTS_OF_LGL_PRCDNG"/>
				<xs:attribute name="DT_OF_INTTN_OF_LGL_PRCDNG" type="SDDcommonTypes:ECBSDD_FLL_YYYY_MM_DD"/>
				<xs:attribute name="ENTRPRS_SZ" type="Test_CL_ENTRPRS_SZ"/>
				<xs:attribute name="DT_OF_ENTRPRS_SZ" type="SDDcommonTypes:ECBSDD_FLL_YYYY_MM_DD"/>
				<xs:attribute name="NMBR_OF_EMPLYS" type="SDDcommonTypes:ECBSDD_NN_NGTV_2D"/>
				<xs:attribute name="BLNC_SHT_TTL" type="SDDcommonTypes:ECBSDD_NN_NGTV_2D"/>
				<xs:attribute name="ANNL_TRNVR" type="SDDcommonTypes:ECBSDD_NN_NGTV_2D"/>
				<xs:attribute name="ACCNTNG_STNDRD" type="Test_CL_ACCNTNG_STNDRD"/>
				<xs:attribute name="type" type="common:IDType" use="prohibited"/>
				<xs:attribute name="REPORTING_YEAR_START_DAY" type="xs:gMonthDay" use="prohibited"/>
			</xs:restriction>
			<!-- Mehrfach!!! -->
		</xs:complexContent>
	</xs:complexType>
	<!--- ENTWURF-->
	<xs:complexType name="BBK_ANCRDT_ENTTY_RFRNC_C">
		<xs:complexContent>
			<xs:restriction base="dsd:DataSetType">
				<xs:sequence>
					<xs:element ref="common:Annotations" minOccurs="0"/>
					<xs:element name="DataProvider" type="common:DataProviderReferenceType" form="unqualified" minOccurs="0"/>
					<xs:choice minOccurs="0">
						<xs:element name="Obs" type="ObsBBK_ANCRDT_ENTTY_RFRNC_C" form="unqualified" maxOccurs="unbounded"/>
					</xs:choice>
				</xs:sequence>
				<xs:attribute name="REPORTING_YEAR_START_DAY" type="xs:gMonthDay" use="prohibited"/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<!--- ENTWURF-->
	<xs:complexType name="ObsBBK_ANCRDT_ENTTY_OTHR_CD_C">
		<xs:complexContent>
			<xs:restriction base="dsd:ObsType">
				<xs:sequence>
					<xs:element ref="common:Annotations" minOccurs="0"/>
				</xs:sequence>
				<xs:attribute name="TYP_ENTTY_CD" type="bcl:CL_BBK_ANCRDT_TYP_ENTTY_CD" use="required"/>
				<xs:attribute name="ENTTY_CD" type="SDDcommonTypes:ECBSDD_RSTRCTD_ID" use="required"/>
				<xs:attribute name="TYP_OTHR_CD" type="BBKCommonTypes:BBK_STRNG_255"/>
				<xs:attribute name="OTHR_CD" type="SDDcommonTypes:ECBSDD_RSTRCTD_ID"/>
				<xs:attribute name="type" type="common:IDType" use="prohibited"/>
				<xs:attribute name="REPORTING_YEAR_START_DAY" type="xs:gMonthDay" use="prohibited"/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<!--- ENTWURF-->
	<xs:complexType name="BBK_ANCRDT_ENTTY_OTHR_CD_C">
		<xs:complexContent>
			<xs:restriction base="dsd:DataSetType">
				<xs:sequence>
					<xs:element ref="common:Annotations" minOccurs="0"/>
					<xs:element name="DataProvider" type="common:DataProviderReferenceType" form="unqualified" minOccurs="0"/>
					<xs:choice minOccurs="1">
						<xs:element name="Obs" type="ObsBBK_ANCRDT_ENTTY_OTHR_CD_C" form="unqualified" maxOccurs="unbounded"/>
					</xs:choice>
				</xs:sequence>
				<xs:attribute name="REPORTING_YEAR_START_DAY" type="xs:gMonthDay" use="prohibited"/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<!--- ENTWURF-->
	<xs:complexType name="ObsBBK_ANCRDT_ENTTY_CHNGE_CD_C">
		<xs:complexContent>
			<xs:restriction base="dsd:ObsType">
				<xs:sequence>
					<xs:element ref="common:Annotations" minOccurs="0"/>
				</xs:sequence>
				<xs:attribute name="TYP_OLD_ENTTY_CD" type="bcl:CL_BBK_ANCRDT_TYP_ENTTY_CD" use="required"/>
				<xs:attribute name="OLD_ENTTY_CD" type="SDDcommonTypes:ECBSDD_RSTRCTD_ID" use="required"/>
				<xs:attribute name="TYP_NEW_ENTTY_CD" use="required" fixed="TestCode_1"/>
				<xs:attribute name="NEW_ENTTY_CD" type="SDDcommonTypes:ECBSDD_RSTRCTD_ID" use="required"/>
				<xs:attribute name="type" type="common:IDType" use="prohibited"/>
				<xs:attribute name="REPORTING_YEAR_START_DAY" type="xs:gMonthDay" use="prohibited"/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<!--- ENTWURF-->
	<xs:complexType name="BBK_ANCRDT_ENTTY_CHNGE_CD_C">
		<xs:complexContent>
			<xs:restriction base="dsd:DataSetType">
				<xs:sequence>
					<xs:element ref="common:Annotations" minOccurs="0"/>
					<xs:element name="DataProvider" type="common:DataProviderReferenceType" form="unqualified" minOccurs="0"/>
					<xs:choice minOccurs="1">
						<xs:element name="Obs" type="ObsBBK_ANCRDT_ENTTY_CHNGE_CD_C" form="unqualified" maxOccurs="unbounded"/>
					</xs:choice>
				</xs:sequence>
				<xs:attribute name="REPORTING_YEAR_START_DAY" type="xs:gMonthDay" use="prohibited"/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
