bbk-docs/Prerelease/anacredit_bbk_meldeschema_vorlaeufig/BBK_CDLST_TV2-SDMX.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2014 sp1 (http://www.altova.com) by 59 users / SMP-Expiration: 2016-02-29 (DEUTSCHE BUNDESBANK) -->
<!--Generated by Banca d'Italia M3-Meta Model Mapper v2.0-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:dsd="http://www.sdmx.org/resources/sdmxml/schemas/v2_1/data/structurespecific" xmlns:common="http://www.sdmx.org/resources/sdmxml/schemas/v2_1/common" xmlns="http://www.bundesbank.de/statistik/bbk/codelists/tv2" xmlns:ns1="http://www.sdmx.org/resources/sdmxml/schemas/v2_1/message" targetNamespace="http://www.bundesbank.de/statistik/bbk/codelists/tv2" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:import namespace="http://www.sdmx.org/resources/sdmxml/schemas/v2_1/message" schemaLocation="SDMXMessage.xsd"/>
	<xs:import namespace="http://www.sdmx.org/resources/sdmxml/schemas/v2_1/data/structurespecific" schemaLocation="SDMXDataStructureSpecific.xsd"/>
	<xs:import namespace="http://www.sdmx.org/resources/sdmxml/schemas/v2_1/common" schemaLocation="SDMXCommon.xsd"/>
	<!-- CodeLists -->
	<!--- ENTWURF-->
	<xs:simpleType name="CL_BBK_ANCRDT_TYP_ENTTY_CD">
		<xs:restriction base="xs:string">
			<xs:enumeration value="TestCode_1">
				<xs:annotation>
					<xs:documentation xml:lang="de">Interne Kennung</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="TestCode_2">
				<xs:annotation>
					<xs:documentation xml:lang="de">RIAD ID</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="TestCode_3">
				<xs:annotation>
					<xs:documentation xml:lang="de">BLZ</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="TestCode_4">
				<xs:annotation>
					<xs:documentation xml:lang="de">Nehmernummer</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="TestCode_5">
				<xs:annotation>
					<xs:documentation xml:lang="de">Gebernummer</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="TestCode_6">
				<xs:annotation>
					<xs:documentation xml:lang="de">Geschuetzt</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<!--- ENTWURF-->
	<xs:simpleType name="CL_BBK_ANCRDT_SRVY">
		<xs:restriction base="xs:string">
			<xs:enumeration value="TestCode_ANCRDT_T1M">
				<xs:annotation>
					<xs:documentation xml:lang="en">ANCRDT_T1M</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="TestCode_ANCRDT_T2M">
				<xs:annotation>
					<xs:documentation xml:lang="en">ANCRDT_T2M</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="TestCode_ANCRDT_T2Q">
				<xs:annotation>
					<xs:documentation xml:lang="en">ANCRDT_T2Q</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="TestCode_RIAD">
				<xs:annotation>
					<xs:documentation xml:lang="en">RIAD</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<!--- ENTWURF-->
	<xs:simpleType name="CL_BBK_ANCRDT_SBMSSN">
		<xs:restriction base="xs:string">
			<xs:enumeration value="TestCode_FULL_DYNAMIC">
				<xs:annotation>
					<xs:documentation xml:lang="en">FULL_DYNAMIC</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="TestCode_CHANGE">
				<xs:annotation>
					<xs:documentation xml:lang="en">CHANGE</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="TestCode_FULL_REPLACEMENT">
				<xs:annotation>
					<xs:documentation xml:lang="en">FULL_REPLACEMENT</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
