bbk-docs/Prerelease/anacredit_bbk_meldeschema_vorlaeufig/BBK_ANCRDT_T2M_TV2-SDMX.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--- ENTWURF-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:dsd="http://www.sdmx.org/resources/sdmxml/schemas/v2_1/data/structurespecific" xmlns:common="http://www.sdmx.org/resources/sdmxml/schemas/v2_1/common" xmlns:SDDcommonTypes="http://www.escb.eu/rf/sdmx/SDDcommonTypes" xmlns:BBKCommonTypes="http://www.bundesbank.de/statistik/bbk/CommonTypes/tv1" xmlns="http://www.bundesbank.de/statistik/anacredit/t2m/tv2" xmlns:ns1="http://www.sdmx.org/resources/sdmxml/schemas/v2_1/message" xmlns:bcl="http://www.bundesbank.de/statistik/bbk/codelists/tv2" xmlns:ecl="http://www.bundesbank.de/statistik/ecb/codelists/tv2" targetNamespace="http://www.bundesbank.de/statistik/anacredit/t2m/tv2" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:import namespace="http://www.sdmx.org/resources/sdmxml/schemas/v2_1/message" schemaLocation="SDMXMessage.xsd"/>
	<xs:import namespace="http://www.sdmx.org/resources/sdmxml/schemas/v2_1/data/structurespecific" schemaLocation="SDMXDataStructureSpecific.xsd"/>
	<xs:import namespace="http://www.sdmx.org/resources/sdmxml/schemas/v2_1/common" schemaLocation="SDMXCommon.xsd"/>
	<xs:import namespace="http://www.bundesbank.de/statistik/ecb/codelists/tv2" schemaLocation="ECB_CDLST_TV2-SDMX.xsd"/>
	<xs:import namespace="http://www.bundesbank.de/statistik/bbk/codelists/tv2" schemaLocation="BBK_CDLST_TV2-SDMX.xsd"/>
	<xs:import namespace="http://www.escb.eu/rf/sdmx/SDDcommonTypes" schemaLocation="SDDCommonTypes.xsd"/>
	<xs:import namespace="http://www.bundesbank.de/statistik/bbk/CommonTypes/tv1" schemaLocation="BBKCommonTypes_TV1-SDMX.xsd"/>
	<!-- Data Structur Definitions (DataSetType) -->
	<!--- ENTWURF-->
	<xs:complexType name="ObsBBK_ANCRDT_HDR_C">
		<xs:complexContent>
			<xs:restriction base="dsd:ObsType">
				<xs:sequence>
					<xs:element ref="common:Annotations" minOccurs="0"/>
				</xs:sequence>
				<xs:attribute name="RPRTNG_AGNT_CD" type="SDDcommonTypes:ECBSDD_RSTRCTD_ID" use="required"/>
				<xs:attribute name="OBSRVD_AGNT_CD" type="SDDcommonTypes:ECBSDD_RSTRCTD_ID" use="required"/>
				<xs:attribute name="DT_RFRNC" type="BBKCommonTypes:BBK_DT_YYYY_MM" use="required"/>
				<xs:attribute name="SRVY_ID" type="bcl:CL_BBK_ANCRDT_SRVY" use="required" fixed="TestCode_ANCRDT_T2M"/>
				<xs:attribute name="SBMSSN_TYP" type="bcl:CL_BBK_ANCRDT_SBMSSN" use="required"/>
				<xs:attribute name="PRT_MSSG" type="BBKCommonTypes:BBK_STRNG_PRT_FL_INF"/>
				<xs:attribute name="type" type="common:IDType" use="prohibited"/>
				<xs:attribute name="REPORTING_YEAR_START_DAY" type="xs:gMonthDay" use="prohibited"/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<!--- ENTWURF-->
	<xs:complexType name="BBK_ANCRDT_HDR_C">
		<xs:complexContent>
			<xs:restriction base="dsd:DataSetType">
				<xs:sequence>
					<xs:element ref="common:Annotations" minOccurs="0"/>
					<xs:element name="DataProvider" type="common:DataProviderReferenceType" form="unqualified" minOccurs="0"/>
					<xs:choice minOccurs="1">
						<xs:element name="Obs" type="ObsBBK_ANCRDT_HDR_C" form="unqualified" maxOccurs="1"/>
					</xs:choice>
				</xs:sequence>
				<xs:attribute name="REPORTING_YEAR_START_DAY" type="xs:gMonthDay" use="prohibited"/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<!--- ENTWURF-->
	<xs:complexType name="ObsBBK_ANCRDT_ENTTY_DFLT_C">
		<xs:complexContent>
			<xs:restriction base="dsd:ObsType">
				<xs:sequence>
					<xs:element ref="common:Annotations" minOccurs="0"/>
				</xs:sequence>
				<xs:attribute name="ENTTY_CD" type="SDDcommonTypes:ECBSDD_RSTRCTD_ID" use="required"/>
				<xs:attribute name="ENTTY_CD_TYP" type="bcl:CL_BBK_ANCRDT_TYP_ENTTY_CD" use="required"/>
				<xs:attribute name="DFLT_STTS" type="ecl:CL_ECBSDD_CRDT_QLTY_DFLT_STTS_ANCRDT_CLLCTN"/>
				<xs:attribute name="DT_DFLT_STTS" type="SDDcommonTypes:ECBSDD_FLL_YYYY_MM_DD"/>
				<xs:attribute name="type" type="common:IDType" use="prohibited"/>
				<xs:attribute name="REPORTING_YEAR_START_DAY" type="xs:gMonthDay" use="prohibited"/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<!--- ENTWURF-->
	<xs:complexType name="BBK_ANCRDT_ENTTY_DFLT_C">
		<xs:complexContent>
			<xs:restriction base="dsd:DataSetType">
				<xs:sequence>
					<xs:element ref="common:Annotations" minOccurs="0"/>
					<xs:element name="DataProvider" type="common:DataProviderReferenceType" form="unqualified" minOccurs="0"/>
					<xs:choice minOccurs="1">
						<xs:element name="Obs" type="ObsBBK_ANCRDT_ENTTY_DFLT_C" form="unqualified" maxOccurs="unbounded"/>
					</xs:choice>
				</xs:sequence>
				<xs:attribute name="REPORTING_YEAR_START_DAY" type="xs:gMonthDay" use="prohibited"/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<!--- ENTWURF-->
	<xs:complexType name="ObsBBK_ANCRDT_ENTTY_RSK_C">
		<xs:complexContent>
			<xs:restriction base="dsd:ObsType">
				<xs:sequence>
					<xs:element ref="common:Annotations" minOccurs="0"/>
				</xs:sequence>
				<xs:attribute name="ENTTY_CD" type="SDDcommonTypes:ECBSDD_RSTRCTD_ID" use="required"/>
				<xs:attribute name="ENTTY_CD_TYP" type="bcl:CL_BBK_ANCRDT_TYP_ENTTY_CD" use="required"/>
				<xs:attribute name="PD" type="SDDcommonTypes:ECBSDD_0TO1_6D"/>
				<xs:attribute name="type" type="common:IDType" use="prohibited"/>
				<xs:attribute name="REPORTING_YEAR_START_DAY" type="xs:gMonthDay" use="prohibited"/>
			</xs:restriction>
			<!-- BBk-Modified-->
			<!-- BBk-New-->
		</xs:complexContent>
	</xs:complexType>
	<!--- ENTWURF-->
	<xs:complexType name="BBK_ANCRDT_ENTTY_RSK_C">
		<xs:complexContent>
			<xs:restriction base="dsd:DataSetType">
				<xs:sequence>
					<xs:element ref="common:Annotations" minOccurs="0"/>
					<xs:element name="DataProvider" type="common:DataProviderReferenceType" form="unqualified" minOccurs="0"/>
					<xs:choice minOccurs="1">
						<xs:element name="Obs" type="ObsBBK_ANCRDT_ENTTY_RSK_C" form="unqualified" maxOccurs="unbounded"/>
					</xs:choice>
				</xs:sequence>
				<xs:attribute name="REPORTING_YEAR_START_DAY" type="xs:gMonthDay" use="prohibited"/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<!--- ENTWURF-->
	<xs:complexType name="ObsBBK_ANCRDT_INSTRMNT_PRTCTN_RCVD_C">
		<xs:complexContent>
			<xs:restriction base="dsd:ObsType">
				<xs:sequence>
					<xs:element ref="common:Annotations" minOccurs="0"/>
				</xs:sequence>
				<xs:attribute name="CNTRCT_ID" type="SDDcommonTypes:ECBSDD_RSTRCTD_ID" use="required"/>
				<xs:attribute name="INSTRMNT_ID" type="SDDcommonTypes:ECBSDD_RSTRCTD_ID" use="required"/>
				<xs:attribute name="PRTCTN_ID" type="SDDcommonTypes:ECBSDD_RSTRCTD_ID" use="required"/>
				<xs:attribute name="PRTCTN_ALLCTD_VL" type="SDDcommonTypes:ECBSDD_NN_NGTV_2D"/>
				<xs:attribute name="THRD_PRTY_PRRTY_CLMS" type="SDDcommonTypes:ECBSDD_NN_NGTV_2D"/>
				<xs:attribute name="type" type="common:IDType" use="prohibited"/>
				<xs:attribute name="REPORTING_YEAR_START_DAY" type="xs:gMonthDay" use="prohibited"/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<!--- ENTWURF-->
	<xs:complexType name="BBK_ANCRDT_INSTRMNT_PRTCTN_RCVD_C">
		<xs:complexContent>
			<xs:restriction base="dsd:DataSetType">
				<xs:sequence>
					<xs:element ref="common:Annotations" minOccurs="0"/>
					<xs:element name="DataProvider" type="common:DataProviderReferenceType" form="unqualified" minOccurs="0"/>
					<xs:choice minOccurs="1">
						<xs:element name="Obs" type="ObsBBK_ANCRDT_INSTRMNT_PRTCTN_RCVD_C" form="unqualified" maxOccurs="unbounded"/>
					</xs:choice>
				</xs:sequence>
				<xs:attribute name="REPORTING_YEAR_START_DAY" type="xs:gMonthDay" use="prohibited"/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<!--- ENTWURF-->
	<xs:complexType name="ObsBBK_ANCRDT_PRTCTN_RCVD_C">
		<xs:complexContent>
			<xs:restriction base="dsd:ObsType">
				<xs:sequence>
					<xs:element ref="common:Annotations" minOccurs="0"/>
				</xs:sequence>
				<xs:attribute name="PRTCTN_ID" type="SDDcommonTypes:ECBSDD_RSTRCTD_ID" use="required"/>
				<xs:attribute name="TYP_PRTCTN" type="ecl:CL_ECBSDD_TYP_PRTCTN_ANCRDT_CLLCTN"/>
				<xs:attribute name="PRTCTN_VL" type="SDDcommonTypes:ECBSDD_NN_NGTV_2D"/>
				<xs:attribute name="TYP_PRTCTN_VL" type="ecl:CL_ECBSDD_TYP_PRTCTN_VL_ANCRDT_CLLCTN"/>
				<xs:attribute name="PRTCTN_VLTN_APPRCH" type="ecl:CL_ECBSDD_PRTCTN_VLTN_APPRCH_ANCRDT_CLLCTN"/>
				<xs:attribute name="RL_ESTT_CLLTRL_LCTN" type="ecl:CL_ECBSDD_ISO3166_NUTS_DSJNT"/>
				<xs:attribute name="DT_PRTCTN_VL" type="SDDcommonTypes:ECBSDD_FLL_YYYY_MM_DD"/>
				<xs:attribute name="DT_MTRTY_PRTCTN" type="SDDcommonTypes:ECBSDD_FLL_YYYY_MM_DD"/>
				<xs:attribute name="ORGNL_PRTCTN_VL" type="SDDcommonTypes:ECBSDD_NN_NGTV_2D"/>
				<xs:attribute name="DT_ORGNL_PRTCTN_VL" type="SDDcommonTypes:ECBSDD_FLL_YYYY_MM_DD"/>
				<xs:attribute name="type" type="common:IDType" use="prohibited"/>
				<xs:attribute name="REPORTING_YEAR_START_DAY" type="xs:gMonthDay" use="prohibited"/>
			</xs:restriction>
			<!-- BBk-Modified-->
			<!-- BBk-New-->
		</xs:complexContent>
	</xs:complexType>
	<!--- ENTWURF-->
	<xs:complexType name="BBK_ANCRDT_PRTCTN_RCVD_C">
		<xs:complexContent>
			<xs:restriction base="dsd:DataSetType">
				<xs:sequence>
					<xs:element ref="common:Annotations" minOccurs="0"/>
					<xs:element name="DataProvider" type="common:DataProviderReferenceType" form="unqualified" minOccurs="0"/>
					<xs:choice minOccurs="1">
						<xs:element name="Obs" type="ObsBBK_ANCRDT_PRTCTN_RCVD_C" form="unqualified" maxOccurs="unbounded"/>
					</xs:choice>
				</xs:sequence>
				<xs:attribute name="REPORTING_YEAR_START_DAY" type="xs:gMonthDay" use="prohibited"/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<!--- ENTWURF-->
	<xs:complexType name="ObsBBK_ANCRDT_PRTCTN_PRVDR_C">
		<xs:complexContent>
			<xs:restriction base="dsd:ObsType">
				<xs:sequence>
					<xs:element ref="common:Annotations" minOccurs="0"/>
				</xs:sequence>
				<xs:attribute name="PRTCTN_ID" type="SDDcommonTypes:ECBSDD_RSTRCTD_ID" use="required"/>
				<xs:attribute name="PRTCTN_PRVDR_CD" type="SDDcommonTypes:ECBSDD_RSTRCTD_ID" use="required"/>
				<xs:attribute name="PRTCTN_PRVDR_CD_TYP" type="bcl:CL_BBK_ANCRDT_TYP_ENTTY_CD" use="required"/>
				<xs:attribute name="type" type="common:IDType" use="prohibited"/>
				<xs:attribute name="REPORTING_YEAR_START_DAY" type="xs:gMonthDay" use="prohibited"/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<!--- ENTWURF-->
	<xs:complexType name="BBK_ANCRDT_PRTCTN_PRVDR_C">
		<xs:complexContent>
			<xs:restriction base="dsd:DataSetType">
				<xs:sequence>
					<xs:element ref="common:Annotations" minOccurs="0"/>
					<xs:element name="DataProvider" type="common:DataProviderReferenceType" form="unqualified" minOccurs="0"/>
					<xs:choice minOccurs="1">
						<xs:element name="Obs" type="ObsBBK_ANCRDT_PRTCTN_PRVDR_C" form="unqualified" maxOccurs="unbounded"/>
					</xs:choice>
				</xs:sequence>
				<xs:attribute name="REPORTING_YEAR_START_DAY" type="xs:gMonthDay" use="prohibited"/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
