bbk-docs/Version1_1/anacredit_technische_meldeschema/BBK_ANCRDT_T1M_V1_1-SDMX.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Provided by Deutsche Bundesbank 2017 - http://www.bundesbank.de/AnaCredit -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:dsd="http://www.sdmx.org/resources/sdmxml/schemas/v2_1/data/structurespecific" xmlns:common="http://www.sdmx.org/resources/sdmxml/schemas/v2_1/common" xmlns:BBKCommonTypes="http://www.bundesbank.de/statistik/bbk/commontypes/v1" xmlns="http://www.bundesbank.de/statistik/anacredit/t1m/v1" xmlns:ns1="http://www.sdmx.org/resources/sdmxml/schemas/v2_1/message" xmlns:ns2="http://www.bundesbank.de/statistik/anacredit/t1m/v1" xmlns:bcl="http://www.bundesbank.de/statistik/bbk/codelists/v1" xmlns:ecl="http://www.bundesbank.de/statistik/ecb/codelists/v1" xmlns:ECBCommonTypes="http://www.bundesbank.de/statistik/ecb/commontypes/v1" targetNamespace="http://www.bundesbank.de/statistik/anacredit/t1m/v1" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:import namespace="http://www.sdmx.org/resources/sdmxml/schemas/v2_1/message" schemaLocation="SDMXMessage.xsd"/>
	<xs:import namespace="http://www.sdmx.org/resources/sdmxml/schemas/v2_1/data/structurespecific" schemaLocation="SDMXDataStructureSpecific.xsd"/>
	<xs:import namespace="http://www.sdmx.org/resources/sdmxml/schemas/v2_1/common" schemaLocation="SDMXCommon.xsd"/>
	<xs:import namespace="http://www.bundesbank.de/statistik/bbk/codelists/v1" schemaLocation="BBK_CDLST_V1_1-SDMX.xsd"/>
	<xs:import namespace="http://www.bundesbank.de/statistik/ecb/codelists/v1" schemaLocation="ECB_CDLST_V1_1-SDMX.xsd"/>
	<xs:import namespace="http://www.bundesbank.de/statistik/bbk/commontypes/v1" schemaLocation="BBKCommonTypes_V1_1-SDMX.xsd"/>
	<xs:import namespace="http://www.bundesbank.de/statistik/ecb/commontypes/v1" schemaLocation="ECBCommonTypes_V1_1-SDMX.xsd"/>
	<!-- Data Structur Definitions (DataSetType) -->
	<xs:complexType name="ObsBBK_ANCRDT_HDR_C">
		<xs:complexContent>
			<xs:restriction base="dsd:ObsType">
				<xs:sequence>
					<xs:element ref="common:Annotations" minOccurs="0"/>
				</xs:sequence>
				<xs:attribute name="RPRTNG_AGNT_CD" type="BBKCommonTypes:BBK_ID_BLZ" use="required"/>
				<xs:attribute name="OBSRVD_AGNT_CD" type="BBKCommonTypes:BBK_ID_BLZ" use="required"/>
				<xs:attribute name="DT_RFRNC" type="BBKCommonTypes:BBK_YYYY_MM" use="required"/>
				<xs:attribute name="SRVY_ID" type="bcl:CL_BBK_SRVY_ID" use="required" fixed="ANCRDT_T1M"/>
				<xs:attribute name="PRT_MSSG" type="BBKCommonTypes:BBK_PRT_MSSG" use="required"/>
				<xs:attribute name="IS_LST_PRT_MSSG" type="xs:boolean" use="required"/>
				<xs:attribute name="type" type="common:IDType" use="prohibited"/>
				<xs:attribute name="REPORTING_YEAR_START_DAY" type="xs:gMonthDay" use="prohibited"/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="BBK_ANCRDT_HDR_C">
		<xs:complexContent>
			<xs:restriction base="dsd:DataSetType">
				<xs:sequence>
					<xs:element ref="common:Annotations" minOccurs="0"/>
					<xs:element name="DataProvider" type="common:DataProviderReferenceType" form="unqualified" minOccurs="0"/>
					<xs:choice minOccurs="1">
						<xs:element name="Obs" type="ObsBBK_ANCRDT_HDR_C" form="unqualified" maxOccurs="1"/>
					</xs:choice>
				</xs:sequence>
				<xs:attribute name="REPORTING_YEAR_START_DAY" type="xs:gMonthDay" use="prohibited"/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ObsBBK_ANCRDT_ENTTY_INSTRMNT_C">
		<xs:complexContent>
			<xs:restriction base="dsd:ObsType">
				<xs:sequence>
					<xs:element ref="common:Annotations" minOccurs="0"/>
				</xs:sequence>
				<xs:attribute name="CP_ID" type="BBKCommonTypes:BBK_CP_ID_NA" use="required"/>
				<xs:attribute name="TYP_CP_ID" type="bcl:CL_BBK_TYP_CP_ID_PRTC" use="required"/>
				<xs:attribute name="CNTRCT_ID" type="ECBCommonTypes:ECBSDD_RSTRCTD_ID_60" use="required"/>
				<xs:attribute name="INSTRMNT_ID" type="ECBCommonTypes:ECBSDD_RSTRCTD_ID_60" use="required"/>
				<xs:attribute name="ENTTY_RL" type="ecl:CL_ECBSDD_ENTTY_RL_ANCRDT_CLLCTN" use="required"/>
				<xs:attribute name="type" type="common:IDType" use="prohibited"/>
				<xs:attribute name="REPORTING_YEAR_START_DAY" type="xs:gMonthDay" use="prohibited"/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="BBK_ANCRDT_ENTTY_INSTRMNT_C">
		<xs:complexContent>
			<xs:restriction base="dsd:DataSetType">
				<xs:sequence>
					<xs:element ref="common:Annotations" minOccurs="0"/>
					<xs:element name="DataProvider" type="common:DataProviderReferenceType" form="unqualified" minOccurs="0"/>
					<xs:choice minOccurs="1">
						<xs:element name="Obs" type="ObsBBK_ANCRDT_ENTTY_INSTRMNT_C" form="unqualified" maxOccurs="unbounded"/>
					</xs:choice>
				</xs:sequence>
				<xs:attribute name="REPORTING_YEAR_START_DAY" type="xs:gMonthDay" use="prohibited"/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ObsBBK_ANCRDT_FNNCL_C">
		<xs:complexContent>
			<xs:restriction base="dsd:ObsType">
				<xs:sequence>
					<xs:element ref="common:Annotations" minOccurs="0"/>
				</xs:sequence>
				<xs:attribute name="CNTRCT_ID" type="ECBCommonTypes:ECBSDD_RSTRCTD_ID_60" use="required"/>
				<xs:attribute name="INSTRMNT_ID" type="ECBCommonTypes:ECBSDD_RSTRCTD_ID_60" use="required"/>
				<xs:attribute name="ANNLSD_AGRD_RT" type="BBKCommonTypes:BBK_ALL_6D_NA"/>
				<xs:attribute name="DT_NXT_INTRST_RT_RST" type="BBKCommonTypes:BBK_FLL_YYYY_MM_DD_NA"/>
				<xs:attribute name="DFLT_STTS" type="bcl:CL_BBK_CRDT_QLTY_DFLT_STTS_ANCRDT_CLLCTN_NA"/>
				<xs:attribute name="DT_DFLT_STTS" type="BBKCommonTypes:BBK_FLL_YYYY_MM_DD_NA"/>
				<xs:attribute name="TRNSFRRD_AMNT" type="BBKCommonTypes:BBK_NN_NGTV_2D_NA"/>
				<xs:attribute name="ARRRS" type="BBKCommonTypes:BBK_NN_NGTV_2D_NA"/>
				<xs:attribute name="DT_PST_D" type="BBKCommonTypes:BBK_FLL_YYYY_MM_DD_NA"/>
				<xs:attribute name="TYP_SCRTSTN" type="bcl:CL_BBK_TYP_TRNSFR_ANCRDT_CLLCTN_NA"/>
				<xs:attribute name="OTSTNDNG_NMNL_AMNT" type="BBKCommonTypes:BBK_NN_NGTV_2D_NA"/>
				<xs:attribute name="ACCRD_INTRST" type="BBKCommonTypes:BBK_NN_NGTV_2D_NA"/>
				<xs:attribute name="OFF_BLNC_SHT_AMNT" type="BBKCommonTypes:BBK_NN_NGTV_2D_NA"/>
				<xs:attribute name="type" type="common:IDType" use="prohibited"/>
				<xs:attribute name="REPORTING_YEAR_START_DAY" type="xs:gMonthDay" use="prohibited"/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="BBK_ANCRDT_FNNCL_C">
		<xs:complexContent>
			<xs:restriction base="dsd:DataSetType">
				<xs:sequence>
					<xs:element ref="common:Annotations" minOccurs="0"/>
					<xs:element name="DataProvider" type="common:DataProviderReferenceType" form="unqualified" minOccurs="0"/>
					<xs:choice minOccurs="1">
						<xs:element name="Obs" type="ObsBBK_ANCRDT_FNNCL_C" form="unqualified" maxOccurs="unbounded"/>
					</xs:choice>
				</xs:sequence>
				<xs:attribute name="REPORTING_YEAR_START_DAY" type="xs:gMonthDay" use="prohibited"/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ObsBBK_ANCRDT_INSTRMNT_C">
		<xs:complexContent>
			<xs:restriction base="dsd:ObsType">
				<xs:sequence>
					<xs:element ref="common:Annotations" minOccurs="0"/>
				</xs:sequence>
				<xs:attribute name="CNTRCT_ID" type="ECBCommonTypes:ECBSDD_RSTRCTD_ID_60" use="required"/>
				<xs:attribute name="INSTRMNT_ID" type="ECBCommonTypes:ECBSDD_RSTRCTD_ID_60" use="required"/>
				<xs:attribute name="TYP_INSTRMNT" type="bcl:CL_BBK_TYP_INSTRMNT_ANCRDT_CLLCTN_NA"/>
				<xs:attribute name="TYP_AMRTSTN" type="bcl:CL_BBK_TYP_AMRTSTN_ANCRDT_CLLCTN_NA"/>
				<xs:attribute name="CRRNCY_DNMNTN" type="bcl:CL_BBK_ISO4217_NA"/>
				<xs:attribute name="FDCRY" type="bcl:CL_BBK_FDCRY_ANCRDT_CLLCTN_NA"/>
				<xs:attribute name="DT_INCPTN" type="BBKCommonTypes:BBK_FLL_YYYY_MM_DD_NA"/>
				<xs:attribute name="DT_END_INTRST_ONLY" type="BBKCommonTypes:BBK_FLL_YYYY_MM_DD_NA"/>
				<xs:attribute name="INTRST_RT_CP" type="BBKCommonTypes:BBK_ALL_6D_NA"/>
				<xs:attribute name="INTRST_RT_FLR" type="BBKCommonTypes:BBK_ALL_6D_NA"/>
				<xs:attribute name="INTRST_RT_RST_FRQNCY" type="bcl:CL_BBK_FRQNCY_INTRST_RT_RST_ANCRDT_CLLCTN_NA"/>
				<xs:attribute name="INTRST_RT_SPRD" type="BBKCommonTypes:BBK_ALL_6D_NA"/>
				<xs:attribute name="TYP_INTRST_RT" type="bcl:CL_BBK_TYP_INTRST_RT_ANCRDT_CLLCTN_NA"/>
				<xs:attribute name="DT_LGL_FNL_MTRTY" type="BBKCommonTypes:BBK_FLL_YYYY_MM_DD_NA"/>
				<xs:attribute name="CMMTMNT_INCPTN" type="BBKCommonTypes:BBK_NN_NGTV_2D_NA"/>
				<xs:attribute name="PYMNT_FRQNCY" type="bcl:CL_BBK_FRQNCY_PYMNT_ANCRDT_CLLCTN_NA"/>
				<xs:attribute name="PRJCT_FNNC_LN" type="bcl:CL_BBK_PRJCT_FNNC_LN_ANCRDT_CLLCTN_NA"/>
				<xs:attribute name="PRPS" type="bcl:CL_BBK_PRPS_ANCRDT_CLLCTN_NA"/>
				<xs:attribute name="RCRS" type="bcl:CL_BBK_RCRSE_ANCRDT_CLLCTN_NA"/>
				<xs:attribute name="RFRNC_RT" type="bcl:CL_BBK_RFRNC_RT_ANCRDT_CLLCTN_NA"/>
				<xs:attribute name="DT_STTLMNT" type="BBKCommonTypes:BBK_FLL_YYYY_MM_DD_NA"/>
				<xs:attribute name="SBRDNTD_DBT" type="bcl:CL_BBK_SBRDNTD_DBT_ANCRDT_CLLCTN_NA"/>
				<xs:attribute name="SYNDCTD_CNTRCT_ID" type="BBKCommonTypes:BBK_CP_ID_NA"/>
				<xs:attribute name="RPYMNT_RGHTS" type="bcl:CL_BBK_RPYMNT_RGHTS_ANCRDT_CLLCTN_NA"/>
				<xs:attribute name="FV_CHNG_CR_BFR_PRCHS" type="BBKCommonTypes:BBK_NN_NGTV_2D_NA"/>
				<xs:attribute name="type" type="common:IDType" use="prohibited"/>
				<xs:attribute name="REPORTING_YEAR_START_DAY" type="xs:gMonthDay" use="prohibited"/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="BBK_ANCRDT_INSTRMNT_C">
		<xs:complexContent>
			<xs:restriction base="dsd:DataSetType">
				<xs:sequence>
					<xs:element ref="common:Annotations" minOccurs="0"/>
					<xs:element name="DataProvider" type="common:DataProviderReferenceType" form="unqualified" minOccurs="0"/>
					<xs:choice minOccurs="1">
						<xs:element name="Obs" type="ObsBBK_ANCRDT_INSTRMNT_C" form="unqualified" maxOccurs="unbounded"/>
					</xs:choice>
				</xs:sequence>
				<xs:attribute name="REPORTING_YEAR_START_DAY" type="xs:gMonthDay" use="prohibited"/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ObsBBK_ANCRDT_JNT_LBLTS_C">
		<xs:complexContent>
			<xs:restriction base="dsd:ObsType">
				<xs:sequence>
					<xs:element ref="common:Annotations" minOccurs="0"/>
				</xs:sequence>
				<xs:attribute name="CP_ID" type="BBKCommonTypes:BBK_CP_ID" use="required"/>
				<xs:attribute name="TYP_CP_ID" type="bcl:CL_BBK_TYP_CP_ID" use="required"/>
				<xs:attribute name="CNTRCT_ID" type="ECBCommonTypes:ECBSDD_RSTRCTD_ID_60" use="required"/>
				<xs:attribute name="INSTRMNT_ID" type="ECBCommonTypes:ECBSDD_RSTRCTD_ID_60" use="required"/>
				<xs:attribute name="JNT_LBLTY_AMNT" type="BBKCommonTypes:BBK_NN_NGTV_2D_NA"/>
				<xs:attribute name="type" type="common:IDType" use="prohibited"/>
				<xs:attribute name="REPORTING_YEAR_START_DAY" type="xs:gMonthDay" use="prohibited"/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="BBK_ANCRDT_JNT_LBLTS_C">
		<xs:complexContent>
			<xs:restriction base="dsd:DataSetType">
				<xs:sequence>
					<xs:element ref="common:Annotations" minOccurs="0"/>
					<xs:element name="DataProvider" type="common:DataProviderReferenceType" form="unqualified" minOccurs="0"/>
					<xs:choice minOccurs="1">
						<xs:element name="Obs" type="ObsBBK_ANCRDT_JNT_LBLTS_C" form="unqualified" maxOccurs="unbounded"/>
					</xs:choice>
				</xs:sequence>
				<xs:attribute name="REPORTING_YEAR_START_DAY" type="xs:gMonthDay" use="prohibited"/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
